<img alt="background" class="bg" src="http://static5.gamespot.com/uploads/original/536/5360430/2753139-15774024117_9026e0a43c_o.jpg">
<a href="<%= games_path %>">
<img alt="button" class="button" src="http://orig14.deviantart.net/b254/f/2007/275/f/b/enter_button_red_hover_by_yiangos.gif" height="150" width="150">
</a>
