<img alt="background" class="bg" src="http://static5.gamespot.com/uploads/original/536/5360430/2753139-15774024117_9026e0a43c_o.jpg">
<p id="notice"><%= notice %></p>
<%= render @stages%>
<div><%= link_to 'New Stage', new_stage_path %></div>