<img alt="background" class="bg" src="http://static5.gamespot.com/uploads/original/536/5360430/2753139-15774024117_9026e0a43c_o.jpg">
<h1>New Stage</h1>

<%= render 'form' %>

<%= link_to 'Back', stages_path %>