/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
/*   background: url(https://upload.wikimedia.org/wikipedia/commons/5/51/Night-sky-milky-way-galaxy-astrophotography_-_West_Virginia_-_ForestWander.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;*/
   background-color: black;
   color: white;
   text-align: center;
 }

 .title {
  color: black;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 0;
  top: 0;
  opacity: 0.5;
  border: 1px solid blue; 
 }

 .login {
  color: black;
  height: 20px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  border: 1px solid blue; 
 }

 td {
  height: 20px;
  width: 20px;
  border: 1px solid white; 
 }

 .tg {
  position: relative;
  margin: 0 auto;
  
 }